@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
	--font-family-primary: 'Montserrat', sans-serif;
	--primary-color: #ffffff;
	--secondary-color: #ffe600;
	font-size: 62.5%;
}

body {
	background-color: #4d4d4d;
	font-family: var(--font-family-primary);
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

h1,
p,
li {
	color: var(--primary-color);
	margin-bottom: 20px;
}

h2,
span {
	color: var(--secondary-color);
}

main {
	margin: 0 auto;
	width: 77%;
}

h1 {
	font-size: 2.8rem;
	text-align: center;
}

h2 {
	font-size: 2.4rem;
	text-align: center;
	margin: 2.4rem 0;
}

h3 {
	font-size: 1.8rem;
	display: inline-block;
}

p {
	font-size: 1.5rem;
}